# 依赖目录
node_modules/

# 日志文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 运行时数据
pids
*.pid
*.seed
*.pid.lock

# 目录
.npm
.eslintcache

# 可选 npm 缓存目录
.npm

# 可选 eslint 缓存
.eslintcache

# 可选 REPL 历史记录
.node_repl_history

# 输出目录
dist
build

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# 系统文件
.DS_Store
Thumbs.db